alias sudo="doas"
alias ls="ls --color=auto"
alias ll="ls -l"
alias open="xdg-open"
alias rm="trash"
alias ec="emacsclient -nc"

alias jabref="flatpak --user run org.jabref.jabref"
alias spotify="flatpak --user run com.spotify.Client --command=spotify --enable-features=WaylandWindowDecorations --ozone-platform=wayland %u"
alias drawio="flatpak --user run com.jgraph.drawio.desktop"
