alias ls="ls --color=auto"
alias ll="ls -l"
alias clear='printf "\033c"'
alias sudo="doas"
alias docker="podman"
alias open="xdg-open"
alias rm="trash"
alias cat="ccat"
alias less="cless"
alias ec="emacsclient -nc"
alias eclipse-modeling="guix-shell-eclipse-modeling-x11.sh"
alias eclipse-java="guix-shell-eclipse-java-x11.sh"

