[user]
	email = flake@uni-koblenz.de
	name = Julian Flake
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = auto
[pull]
	rebase = true
[credential]
	helper = store
[init]
	defaultBranch = main
[core]
	editor = emacsclient -c -a=
	excludesFile = ~/.gitignore
