[Desktop Entry]
Exec=swayidle -w timeout 360 ~/.local/bin/lockscreen.sh timeout 600 'swaymsg "output * power off"' before-sleep ~/.local/bin/lockscreen.sh resume 'swaymsg "output * power on"'
OnlyShowIn=sway
Name=swayidle for sway
Type=Application
