[Desktop Entry]
Exec=swayidle -w timeout 360 ~/.local/bin/lockscreen.sh timeout 600 'niri output off' before-sleep ~/.local/bin/lockscreen.sh resume 'niri output on'
OnlyShowIn=niri
Name=swayidle for niri
Type=Application
