[Desktop Entry]
Exec=swayidle -w timeout 360 ~/.local/bin/lockscreen.sh timeout 600 'swaymsg "output * power off"' resume 'swaymsg "output * power on"' before-sleep ~/.local/bin/lockscreen.sh
OnlyShowIn=sway
Name=swayidle for sway
Type=Application
