@theme "default"
/* https://gnome.pages.gitlab.gnome.org/libadwaita/doc/1.2/css-variables.html#window-colors */
* {
    foreground: #ffffff;  /* Adwaita window color */
    background: #222226;  /* Adwaita window color */
    lightfg:    #ffffff;  /* Adwaita view color */  
    lightbg:    #1d1d20;  /* Adwaita view color */  

    red:        #81d0ff; /* Adwaita Accent Color Standalone */
    blue:       #ff888c; /* Adwaita Accent Color Standalone */
}
